.maintenance-icon {
    font-size: 90px;
    margin-top: 30px;
    animation: spin 6s linear infinite;
    filter: drop-shadow(0 0 20px #00eaff);
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
